/* Selector que aplica todas las propiedades a los elementos del html 
 - Selector universal: "*"
 - Selector tipo: 
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Hace que el ancho y alto de un elemento incluya tambien */
    font-family: Arial;
}

body {
    background: linear-gradient(90deg, rgb(128, 138, 121) 50%, rgba(65, 89, 0) 100%);
    display: block;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.contenedor {
    width: 100%;
    height: 150%;
    background-image: url("/assets/effectparallaxexample.png");
    background-attachment: fixed; /* Esto es clave para el parallax */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tarjeta {
    background-color: rgba(187, 147, 147);
    width: 800px;
    margin: 30px auto;
    text-align: center;
    padding: 30px;
}

.perfil {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    cursor: pointer;
    border: 3px solid #6a6a6a;
    margin-bottom: 15px;
    transition: transform 0.4s ease-in-out;
}

.perfil:hover {
    transform: rotate(360deg);
}

/* Nombre del usuario */

h2 {
    color: white;
    font-size: 24px;
    margin: 10px 0;
}

/* Descripcion */

p {
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}

.enlaces a {
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    text-decoration: none;
    display: block;
    border-radius: 8px;
    margin: 10px 0;
    margin-left: auto;
    margin-right: auto;
    padding: 6px;
    text-decoration: none;
    width: 200px;
    transition: background-color 0.3s;
}

.enlaces a:hover {
    background-color: rgb(75, 61, 61);
}

.redes a {
    display: inline-block;
    margin: 10px 10px;
    font-size: 24px;
    color: antiquewhite;
    text-decoration: none;
    transition: transform 0.2s;
}

.redes a:hover {
    transform: scale(1.2);
}

/* Diseño de la funcion "details"*/

details {
    background-color: rgba(255, 255, 255, 0.3);
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;   
    border-radius: 8px;  
    border: 1px solid #d8e0e9;
    color: #ffffff;
    position: relative;  
}

details summary {  
    font-weight: 400;
    font-size: 1.25rem;
    padding: 1rem;
    cursor: pointer;
    list-style: none;
}

details p {
    padding: 1rem;
    margin: 0 1rem 1rem 1rem;
}

details[open] {
    background: rgba(255, 255, 255, 0.3);
}

details:hover, details[open] {
    box-shadow: 5px 5px 15px #e65c5c;
}
  
details[open] summary {
    font-weight: 600;
}
  
details summary::before {
    position: absolute;
    content: "👇";    
    font-size: 1.75rem;
    top: 10px;
    right: 16px;  
}
  
details[open] summary::before {
    -webkit-animation: rotate 0.6s ease-in-out both;
    animation: rotate-emoji 0.6s ease-in-out both;
}
  
@keyframes rotate-emoji {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

ul {
    list-style-type: none;
    margin-bottom: 15px;
}

video {
    margin-top: 30px;
    margin-bottom: 30px;
}